<div id="profile" class="rounded-lg lg:rounded-l-lg lg:rounded-r-lg bg-white opacity-75 mx-6 lg:mx-0">
  <div class="p-4 md:p-12 text-center lg:text-left">
    <div class="row">
      <div class="col-auto">
        <h2 class="text-2xl name-greeting"><b><i>Welcome, {{name}}!</b></i></h2>
        <div class="mx-auto lg:mx-0 w-5/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <h3 class="text-lg text-green-700"><b>Add a New Recipe</b></h3>
        <br>
        <form class="form new-project-form">
          <div class="form-group">
            <label for="project-name" class="text-zinc-50">Dish Name:</label>
            <input class="form-input" type="text" id="project-name" name="project-name" />
          </div>
          <div class="form-group">
            <label for="project-funding">Cooking Time (minutes):</label>
            <input class="form-input" type="number" id="project-funding" name="project-funding" />
          </div>
          <div class="form-group">
            <label for="project-desc">Ingredients:</label>
            <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
          </div>
          <div class="form-group">
            <label for="project-inst">Instructions:</label>
            <textarea class="form-input" id="project-inst" name="project-inst"></textarea>
          </div>
          <div class="form-group">
            <label for="project-inst">Picture Link:</label>
            <textarea class="form-input" id="project-pict" name="project-pict" placeholder="Add a URL!"></textarea>
          </div>
          <div class="form-group">
            <button type="submit"
              class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full btn btn-primary">Create</button>
          </div>
        </form>
      </div>
      <br><br>
      <div class="mx-auto lg:mx-0 w-5/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
      <br>
      {{#if projects.length}}
      <div class="col-md-6 project-list">
        <h3 class="text-lg text-green-700"><b>Current Recipes</b></h3>
        {{#each projects as |project|}}
        <div class="row mb-2">
          <div class="col-md-8 pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
            <h4 class="mt-1 text-l font-semibold uppercase leading-tight truncate text-green-700">
              {{{get_emoji}}}<a href="/project/{{project.id}}">{{project.dish}}</a>
          </div>
          <div class="col-md-4">
            <button class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full"
              data-id="{{project.id}}">Delete</button>
          </div>
          </p>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
</div>
<script src="./js/profile.js"></script>